doctype html
html
    head
        title="Din julklapp"

        style
          include style.css

    body

      h1= name 
      img.image(src='./public/images/' + image_name )
      a(href=link) Link
